nav {
  display: inline-flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
  width: 100%;
  margin-bottom: 20px;
}

ul li {
  display: inline;
  padding: 0px 20px;
  border-right: 2px solid black;
}

body {
  background-color: #C0CAAD;
}

.courses_link {
  border-right: none;
}

.nav-p {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  color: #323232;
  display: inline;
  padding-left: 20px;
  font-weight: bold;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #A44A3F;
  text-decoration: underline;
}

.name, .item, .title, .course1, .course2, .info {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
}

.outer-container {
  display: flex;
  justify-content: center;
  width: auto;
  flex-wrap: wrap;
}

.sally-box {
  width: 350px;
  height: 200px;
  background-color: #B26E63;
  margin: 0 5px 25px 5px;
  border: 1px solid black;
}

.top {
  display: flex;
  width: 100%;
  height: 49%;
  border-bottom: 1px solid black;
}

.circle {
  align-self: center;
  margin: 20px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 1px solid black;
}

.name-info {
  align-self: center;
}

.item {
  font-weight: bold;
}

.bottom {
  display: inline-flex;
  height: 50%;
  width: 100%;
}

.course {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 50%;
  flex-direction: column;
}

.rating {
  display: flex;
  align-items: center;
  width: 49%;
  flex-direction: column;
  border-left: 1px solid black;
}

.title {
  font-weight: bold;
  padding: 15px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
